article{
    a {
        font-style:italic;
        }
}

blockquote{
    background: #ffc;
    p,li{
        color: var(--md-typeset-color);
    }
}

.md-tabs {
  overflow-x: auto !important;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: auto; /* Firefox */
}

.md-tabs::-webkit-scrollbar {
  height: 8px; /* Chrome/Edge */
}
