.navbar {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  /* Hide scrollbars (optional) */
  -ms-overflow-style: none;     /* IE + Edge */
  scrollbar-width: none;        /* Firefox */
}
.navbar::-webkit-scrollbar {
  display: none;                /* Chrome/Safari */
}



article{
    a {
        font-style:italic;
        }
}

blockquote{
    background: #ffc;
    p,li{
        color: var(--md-typeset-color);
    }
}
